[submodule "CREAR-BORRAR-TAREA"]
	path = CREAR-BORRAR-TAREA
	url = git@github.com:IvBanzaga/MiPrimeraApp.git
[submodule "CALCULADORA"]
	path = CALCULADORA
	url = git@github.com:IvBanzaga/MiCalculadora.git
[submodule "CALCULADORA-EN-KOTLIN"]
	path = CALCULADORA-EN-KOTLIN
	url = https://github.com/IvBanzaga/MiCalculadora
[submodule "SUMA-DE-NUMEROS"]
	path = SUMA-DE-NUMEROS
	url = https://github.com/IvBanzaga/SUMA
[submodule "BUTTON-RADIO-CALCULADORA"]
	path = BUTTON-RADIO-CALCULADORA
	url = https://github.com/IvBanzaga/ButtonRadioCalcular
